body {
  font-family: 'Open Sans';
  margin-top: 40px;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Syncopate', sans-serif;
}


.heading {
  margin: 0 auto;
  max-width: 50%;
  padding: 3%;
  text-align: center;
  font-size: 7rem;
}

.paragraph {
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 50px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.7rem;
}

/*h4 {
  font-size: 18px;
}*/

.sub-heading {
  padding: 30px 5% 0 5% ;
}

.list-of-links {
  padding: 0 5%;
  font-weight: 300;
}

.list-of-links li {
  list-style: none;
  display: inline-block;
  text-indent: 20px;
}

li>a {
  text-decoration: none;
  color: inherit;
}

li>a:hover {

}
